@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var results = ViewData["Results"] as List<PriceComparisonResult>;
}
@{
    <div class="text-center">
        <h1 class="h1" style="padding-bottom: 30px">Crypto Prices</h1>
    </div>

    @foreach (var item in @results)
    {
        <div class="text-center" style="padding-bottom: 50px">
            <h2 class="h2">@item.CryptoCurrencyType</h2>
            <h3 class="h3"> Recommendations</h3>
            <table class="table table-bordered">
                <tr>
                    <th>Buy From</th>
                    <td>@item.PurchaseFrom</td>
                </tr>
                <tr>
                    <th>Sell To</th>
                    <td>@item.SellTo</td>
                </tr>

            </table>
            <h3 class="h3"> Data</h3>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Client</th>
                        <th scope="col">Buy Price</th>
                        <th scope="col">Sell Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var price in @item.PriceRecords)
                    {
                        <tr>
                            <td>@price.Client</td>
                            <td>@price.BuyPrice</td>
                            <td>@price.SellPrice</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }

}
