@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var results = ViewData["Results"] as List<PriceComparisonResult>;

}
@{
    <div class="text-center">
        <h1 class="display-4">Crypto Prices</h1>
    </div>

    @foreach (var item in @results)
    {
<div class="text-center">
    <h2 class="display-4">@item.CryptoCurrencyType</h2>
    <li>Buy from: @item.PurchaseFrom</li>
    <li>Sell to: @item.SellTo</li>

    @foreach (var price in item.PriceRecords)
    {
<tr>
    <th>BuyPrice</th>
    <th>SellPrice</th>
    <th>Client</th>
</tr>
<tr>
    <th>@price.BuyPrice</th>
    <th>@price.SellPrice</th>
    <th>@price.Client</th>
</tr>

    }
</div>

    }


    <div class="text-center">
        <h1 class="display-4">Crypto Prices</h1>
    </div>
    <table>
        <tr>
            <th>BuyPrice</th>
            <th>SellPrice</th>
            <th>Type</th>
        </tr>
        <tr>
        </tr>
    </table>

}
